$w: 100;
$h: 100;

main#grid {
  width: 100vmin;
  height: 100vmin;
  position: fixed;
  top: calc(50vh - .25vmin);
  left: calc(50vw - .25vmin);
  translate: -50vmin -50vmin;
  border: solid #000a .25vmin;
  box-sizing: content-box;

  > div {
    width: 100vmin;
    height: 100vmin / $h;
    cursor: pointer;

    > div {
      width: 100vmin / $w;
      height: 100vmin / $h;
      display: inline-block;
      background-color: #fff;

      &:hover {
        filter: brightness(.9);
      }

      &.selected {
        filter: brightness(.8);

        &:hover {
          filter: brightness(.7);
        }
      }
    }
  }
}

section#picker {
  position: fixed;
  width: 40vmin;
  height: 12vmin;
  bottom: 2vmin;
  left: calc(50vw - 20vmin);
  display: grid;
  gap: .1vmin;
  padding: .2vmin;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #000a;

  > div {
    background-color: #fff;
    cursor: pointer;
  }
}