$w: 100;
$h: 100;

main#grid {
  width: 100vmin;
  height: 100vmin;
  position: fixed;
  top: calc(50vh - .25vmin);
  left: calc(50vw - .25vmin);
  translate: -50vmin -50vmin;
  border: solid #000a .25vmin;
  box-shadow: #000 0 0 8vmin;

  @media (aspect-ratio < 1) {
    top: calc(40vh - .25vw);
  }

  > div {
    width: 100vmin;
    height: 100vmin / $h;
    cursor: pointer;

    > div {
      width: 100vmin / $w;
      height: 100vmin / $h;
      display: inline-block;
      background-color: #fff;

      &:hover {
        filter: brightness(.9);
      }

      &.selected {
        filter: brightness(.8);

        &:hover {
          filter: brightness(.7);
        }
      }
    }
  }
}

section#picker {
  position: fixed;
  width: 40vmin;
  height: 12vmin;
  bottom: 2vmin;
  left: calc(50vw - 20vmin);
  display: grid;
  gap: .1vmin;
  padding: .2vmin;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #000a;
  box-shadow: #000a 0 0 2vmin;

  @media (aspect-ratio < 1) {
    width: 100vw;
    height: 20vh;
    bottom: 0;
    left: 0;
    gap: .3vmin;
    padding: .6vmin;
    box-shadow: #000a 0 0 5vmin;
  }

  > div {
    background-color: #fff;
    cursor: pointer;
    z-index: 2;
  }

  > section {
    position: absolute;
    height: 3vmin;
    width: 40vmin;
    top: -4vmin;
    border: #000a solid .2vmin;
    display: grid;
    place-content: center;
    background-color: darkorange;
    font-size: 1.7vh;
    font-family: sans-serif;
    animation:
      slide-h cubic-bezier(0.3, 0.0, 0.3, 0.8) 2.5s 0s alternate 2 forwards,
      size cubic-bezier(0.4, 0.2, 1.0, 0.4) 2.5s 0s alternate 2 forwards;

    @media (aspect-ratio < 1) {
      height: 5vh;
      width: 100vw;
      top: -6vh;
      font-size: 5vw;
      animation:
        slide-v cubic-bezier(0.3, 0.0, 0.3, 0.8) 2.5s 0s alternate 2 forwards,
        size cubic-bezier(0.4, 0.2, 1.0, 0.4) 2.5s 0s alternate 2 forwards;

      @keyframes slide-v {
        from {
          top: 0;
        }

        20% {
          top: -6vh;
        }
      }
    }

    @keyframes slide-h {
      from {
        top: 0;
      }

      20% {
        top: -4vmin;
      }
    }

    @keyframes size {
      from {
        scale: 0;
      }

      20% {
        scale: 1;
      }
    }
  }
}