$w: 100;
$h: 100;

main {
  width: 100vmin;
  height: 100vmin;
  position: fixed;
  inset: 0;

  > div {
    width: 100vmin;
    height: 100vmin / $h;
    cursor: pointer;

    > div {
      width: 100vmin / $w;
      height: 100vmin / $h;
      display: inline-block;
      background-color: #fff;

      &:hover {
        filter: brightness(.9);
      }

      &.selected {
        filter: brightness(.8);

        &:hover {
          filter: brightness(.7);
        }
      }
    }
  }
}